<ion-content [fullscreen]="true">
  <div>
    <ion-card>
      <div class="img-Pizza-Card">
        <img alt="pizza"
          src="https://api.pizzahut.io/v1/content/en-ca/ca-1/images/pizza/pizza.big-new-yorker---pepperoni-duo.5ef3bf7b68c65f689ef69edac0613aca.1.jpg" />
      </div>
      <ion-card-header>
        <ion-card-title class="tittle-Card">BIG NEW YORKER BACON & BANANA PEPPERS</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <p>Es una pizza de gran tamaño, inspirada al estilo New York con rebanadas grandes de peperoni y trocitos de
          bacon con abundante rebanadas de chile banana peppers de sabor suave con toque acido, con una mezcla de
          orègano y queso parmesano sobre los ingredientes y mantequilla de ajo a la orilla.</p>
        <div class="info-Compra">
          <div class="info">
            <P>DESDE</P>
          </div>
          <div>
            <P class="valor-Pizza-Card">LPS. 329.00</P>
          </div>
        </div>

        <div class="info-Compra">
          <div class="info-Compras">  
            <P>CANTIDAD:</P>
          </div>

          <div class="info-Compra">
            <ion-button shape="round" class="btn-Cantidad" color="medium" (click)="handlerRem()">
              <ion-icon slot="icon-only" name="remove"></ion-icon>
            </ion-button>
            {{piz_cantidad}}
            <ion-button shape="round" class="btn-Cantidad" color="medium" (click)="handlerAdd()">
              <ion-icon slot="icon-only" name="add-outline"></ion-icon>
            </ion-button>
          </div>

          <div class="info-Compra">
            <ion-button color="success" (click)="AlertOrdenar()" class="btn-ordenar">
              ORDENAR
              <ion-icon slot="start" name="cart-outline"></ion-icon>
            </ion-button>
          </div>

        </div>
      </ion-card-content>
    </ion-card>

  </div>
</ion-content>
